body {
    font-family: monospace;
    background-color: #2404aa;
    background-image: url(/img/noise.png);
}

header{
    margin-top: 25px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

nav ul .left {
    margin-right: auto;
}

nav ul .right {
    display: flex;
    gap: 60px;

}

.atm{
    border-bottom: solid 1px white ;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.mec{
    margin-right: 40px;
}

/* Code */

.timeline {
    list-style-type: none;
    padding-left: 250px;
    margin-top: 9%;
}

.timeline a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    line-height: 4;
}

.timeline li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.timeline h1 {
    font-size: 1.3em;
    margin: 0 10px 0 0;
    color: white;
    opacity: 65%;
}
